/* moved to style.css */
/* .recommend {
  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em 0;
} */

/* moved to style.css */
/* .recommend h2 {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
} */

.recommend-brand-zone h3 {
  font-weight: 600;
  font-size: 1.8em;
  /* color: darkgreen; */
}

.table {
  font-weight: bold;
  text-align: center;
  margin-bottom: 100px;
}
.good-comment {
  /* font-weight: 600; */
  /* font-size: 1.2em; */
  color: #28a745;
}
.bad-comment {
  /* font-weight: 600; */
  /* font-size: 1.2em; */
  color: #dc3545;
}
.fa-star {
  color: gold;
}

.recommend-hot-zone {
  padding: 2em 0;
  margin: 2em 0;
}
.recommend-hot-zone h4 {
  /* text-align: center; */
  font-weight: 600;
  font-size: 1.5em;
  color: rgb(153, 153, 15);
}
.recommend-hot-zone p {
  font-weight: 600;
  font-size: 1.2em;
  color: red;
}
.recommend-hot-zone a {
  font-weight: 600;
  font-size: 0.95em;
}

.hidden {
  display: none;
}

.ai-inform {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
}

#ai-model {
  text-align: start;
}

.comment-list h2 {
  font-weight: 800;
  font-size: 2em;
  color: orange;
}

.comment-list-zone * {
  font-weight: 600;
  /* font-size: 1.2em; */
}

.all-score-range {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.score-range {
  width: 5em;
}

tr {
  transition: all 0.1s ease;
}
tr:hover {
  background-color: #00000010;
}

.btn {
  font-size: 1.5rem;
  margin: 5px;
}

.table-responsive {
  margin-top: 10px;
}

.comment-name {
  font-size: 3.5rem;
}
